*{	
	font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1A1A1A;
  
}
.container{
	overflow: auto;
	padding: 10px;
    width: 650px;
    height: 500px;
    background: linear-gradient(106.68deg, rgba(255, 255, 255, 0.4) 0.12%, rgba(255, 255, 255, 0.15) 102.65%);
    box-shadow: 7px 10px 16px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
	top: 30%;
	left: 30%;
}


.todoList{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 5px;
  	border-bottom: 1px solid gray;
  	border-radius: 5px;
  	height: 40px;
  	box-shadow: 5px 5px rgb(0, 0, 1, 0.5);
 	font-weight: bold;
  	flex-wrap: wrap;
 	width: 95%;
	margin: 30px 13px;
  
}
.deleteTask{
	background: none;
	border: none;
    cursor: pointer;
 	width: 25px;
 	height: 25px;
    text-align: center;
    outline: none;
    align-items: center;
  	margin: 0;
  	padding: 0;
}	
.pText{
	width: 100%;
    background: #ffffff;
    text-transform: capitalize;
}
.inputvalue{
   
    display: flex;
    margin: 5px;
    margin-bottom: 60px;
}
.inputVal{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
	border: none;
}
.btn{
    width: 10%;
    background: #2ECB72;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    outline-style: none;
    border-radius: 5px;
    box-shadow: 2px 3px  rgba(3, 17, 12, 0.25);
	border: none; 
}

.btn:hover {
	background: #17924c;
}

.clearTask{
    position: sticky;
   	bottom: 10px;
   	left: 5%;
   	background: orangered;
   	color: #ffffff;
   	width: 90%;
  	height: 35px;
  	border-radius: 5px;
   	text-transform: capitalize;
   	font-weight: bold;
   	cursor: pointer;
   	outline-style: none;
	border: none;
}

.clearTask:hover {
	background: rgb(189, 13, 13);
}

.dateVal {
	width: auto;
	height: 40px;
    border-radius: 5px;
    margin-right: 5px;
	border: none;
}